body {
  background-color: #8cc461;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.body {
  height: 100vh;
}

.rps {
  color: aliceblue;
}

.rps p {
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

.scoreCard {
  display: flex;
}

.scoreCard div {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 110px;
  width: 120px;
  border-radius: 10px;
}

.scoreCard div p {
  padding: 0;
  margin: 0;
}

#player,
#computer {
  font-size: 50px;
  font-weight: 800;
}

.header {
  width: 50%;
  display: flex;
  border: 2px solid white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.head-align {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#rock,
#paper,
#scissors {
  padding: 20px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
}

#rock {
  top: 0;
  left: 0;
  border: 20px solid #0074b6;
}
#scissors {
  top: 0;
  right: 0;
  border: 20px solid #bd00ff;
}
#paper {
  bottom: 0;
  border: 20px solid #ffa943;
}

.resultArea-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultArea-div p {
  color: white;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 400px;
}

#result_area {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.try-again {
  background-color: white;
  color: #686868;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 30px;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 600;

}

.t1,
.t2 {
  width: 10px;
  height: 400px;
  background: black;
  position: absolute;
}

.t1 {
  transform: rotate(25deg);
  right: 130px;
  z-index: -1;
}

.t2 {
  transform: rotate(-25deg);
  left: 130px;
  z-index: -1;
}
.t3 {
  height: 10px;
  width: 400px;
  position: absolute;
  background: black;
  top: 70px;
  z-index: -1;
}

.btn {
  background: #8cc461;
  color: aliceblue;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

.winnerDiv,
.loserDiv {
  margin: 100px;
  position: relative;
  width: 150px;
  height: 154px;
  border-radius: 100%;
  background: wheat;
}

.wins {
  box-shadow: 0px 0px 0px 20px #688e49, 0 0 0 40px #7aaa55,
    0 0 0 60px rgb(132, 184, 92);
}

#result_area div {
  display: flex;
  justify-content: center;
}

.rules {
  position: absolute;
  bottom: 0;
  right: 0;
}

#rulesBtnDiv {
  display: flex;
  justify-content: end;
}

#rulesTextDiv {
  z-index: 2;
  position: relative;
  margin: 0 20px;
  width: 400px;
  padding: 10px;
}

#rulesTextDiv ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid white;
  border-radius: 20px;
  color: white;
  margin-top: 30px;
  margin-right: 20px;
  padding: 20px 40px;
  background-color: #004429;
  list-style-type: square;
}

#rulesTextDiv ul li {
  font-size: 14px;
  margin: 10px 0;
}

#rulesTextDiv button {
  cursor: pointer;
  border: 8px solid white;
  color: white;
  font-size: 30px;
  font-weight: 700;
  border-radius: 100%;
  padding: 10px 15px;
  background: #ff0000;
  position: absolute;
  right: 0;
}

.nextIMG {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.trophy {
  position: absolute;
  bottom: 0;
}

.nextDIV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hurry, .youWonText{
  padding: 0;
  margin: 0;
  color: white;
  letter-spacing: 5px;
}

.hurry{
  font-size: 80px;
  letter-spacing: 15px;
}

.resultArea-div p:nth-of-type(1) {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 3px;
}

.resultArea-div p:nth-of-type(2) {
  font-size: 30px;
  letter-spacing: 4px;
}